#stockTable, .alignedLeft, tr, th, td{
    border: 1px solid grey;
    border-collapse: collapse;
  }
#stockTable{
    text-align: center;
    width: 90%;
    align-self: center;
}
tr:first-of-type > th {
    font-size: 26px;
    padding: 26px;
}
tr:nth-child(odd){
    background-color: #d6d6d6;
}
th:nth-child(2){
    padding: 16px;
    font-size: 20px;
}
tr:nth-child(7) td:nth-of-type(2){
    padding: 8px;
}