* {
    box-sizing: border-box;
  }
.row {
    display: flex;
  }
  
  .column {
    flex: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    text-align: center;
  }
  h2 {
    text-align: center;
}