<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
  	
    <body>
        <div class="header-wrapper">
            <span class="headerNotification">Project Title
                <a href="#" class="subCategories">SubCategory 1</a>
                <a href="#" class="subCategories">SubCategory 2</a>

            </span>
        </div>
        <div class = "headerHierarchy">This is the hierarchy</div>