<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
  	
    <body>
        <div class="header-wrapper">
            <span class="headerNotification">Online Store
                <a href="#" class="subCategories">Mens </a>
                <a href="#" class="subCategories">Womens</a>
                

            </span>
        </div>
        <div class = "headerHierarchy">This is the hierarchy</div>