<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="header-wrapper">
      <span class="headerNotification"
        >Online Store
        <a href="/mainCat/mens" class="mainCategories">Mens</a>
        <a href="/mainCat/womens" class="mainCategories">Womens</a>
      </span>
    </div>
    <div class="headerHierarchy"></div>
  </body>
</html>
