<%- include header.ejs %>
	
	<div class="body-wrapper">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<span class="bodyNotifier">I'm an index.ejs</span>
	</div>

<%- include footer.ejs %>